services:
  httpbin:
    image: kennethreitz/httpbin@sha256:599fe5e5073102dbb0ee3dbb65f049dab44fa9fc251f6835c9990f8fb196a72b
    ports:
        - "80:80"
    networks:
      - proxy

  axum-reverse-proxy:
    image: axum-reverse-proxy:latest
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      REVERSE_PROXY_TARGET_URL: http://httpbin:80
      RUST_LOG: info
    ports:
      - "3000:3000"
    networks:
      - proxy

networks:
  proxy:
